.container{
    padding: 10px;
    border: 1px solid black;
    width: 200px;
}

.title {
    font-size: 20px;
    /* background-color: tomato; */
    margin-bottom: 20px;
}

.buttonWrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.statistics {
    font-size: 20px;
    /* background-color: #bada55; */
    margin-bottom: 20px;
}

.stats {
    margin-bottom: 10px;
}

.stats:last-child {
    margin-bottom: 0;
}